@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #343a40;
  --secondary-color: #f8bf32;
  --blue-color: #047afb;
}

/* ==========
  NAVBAR 
============= */

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.fa-ravelry {
  margin-right: 8px;
  color: var(--secondary-color);
}

.nav-item {
  margin-right: 10px;
  font-weight: 500;
}

.nav-search {
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
  z-index: 20;
}

.search-input {
  width: 250px;
  display: block;
  padding-right: 35px;
  padding-left: 28px;
  border-radius: 15px;
  color: rgb(51, 51, 51);
}

.fa-search {
  color: #606060;
}

.search-icon {
  position: absolute;
  top: 4px;
  left: 9px;
  font-size: 0.9rem;
}

.search-input:focus {
  outline: none;
}

.search-results {
  position: absolute;
  list-style: none;
  background: rgb(255, 255, 255);
  width: 100%;
  transform: translateY(10px);
  padding: 5px;
  border: 1px solid rgb(103, 103, 103);
  border-top: none;
  overflow: scroll;
  max-height: 33vh;
}
.search-results-decoration {
  position: absolute;
  top: 16px;
  border: 15px solid transparent;
  border-bottom: 15px solid rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
}

.search-result:hover {
  background: var(--blue-color);
}

.search-result-link {
  padding: 2px 8px;
  display: block;
}

.search-result-link:hover {
  color: white;
  text-decoration: none;
}

.search-result-name,
.search-result-address {
  margin: 0;
}

.search-result-address {
  font-size: 0.7rem;
  color: rgb(102, 102, 102);
}

.search-result-link:hover .search-result-address {
  color: rgb(240, 240, 240);
}

.loader {
  position: absolute;
  right: 10px;
  top: 5px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-bottom: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .desktop-nav-item {
    display: none;
  }
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .nav-search {
    display: none;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
  }
}

/* ==========
HOME MAP 
============= */

.home-header {
  background: #f8c032a9;
  text-align: center;
}
.home-header p {
  padding: 1px 0px 3px;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.info-window-title {
  font-size: 1.1rem;
}
.info-window-link {
  font-size: 0.9rem;
}
.home-map-info-container {
  position: absolute;
  z-index: 4;
  display: flex;
  transition: transform 0.5s ease;
}
.home-map-info {
  background: white;
  width: 300px;
  height: 50vh;
  overflow: scroll;
}
.map-info-hidden {
  transform: translateX(-300px);
}
.close-map-info-btn {
  background: white;
  border: 1px solid lightgrey;
  color: grey;
  height: 50px;
  width: 50px;
  outline: none !important;
  font-size: 1.5rem;
}
.close-map-info-btn:focus {
  outline-color: lightgrey;
}
@media (max-width: 700px) {
  .home-map-info,
  .close-map-info-btn {
    display: none;
  }
}

/* ==========
HOMEPAGE 
============= */
.restaurant-search-container {
  background: #f8f8f8;
  padding: 15px;
  padding-bottom: 20px;
  color: black;
}
.restaurant-search-form {
  max-width: 800px;
  margin: auto;
}
.reset-btn {
  margin-bottom: 10px;
  border: 1px solid grey;
}
.reset-btn:hover {
  background: white;
  border: 1px solid var(--primary-color);
}
.homepage-location-select {
  width: 20% !important;
  display: inline-block;
  border: 1px solid #6c757d;
}
.homepage-location-input {
  display: inline-block !important;
  width: 50% !important;
  border: 1px solid #6c757d;
}
.restaurant-search-btn {
  background: white;
  color: black !important;
}
.restaurant-search-btn:hover {
  background: rgb(245, 245, 245);
  color: grey;
}
.homepage-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.sort-input-group {
  max-width: 300px;
  margin: auto;
}
.restaurant-list-container {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.restaurant-list-item {
  background: #f8f8f8;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
}
.restaurant-list-item-title {
  font-family: 'Poppins', sans-serif;
  color: grey;
}

@media (max-width: 650px) {
  .restaurant-search-form {
    display: flex !important;
    gap: 10px;
    align-items: center !important;
    flex-direction: column !important;
  }
}

/* ==========
CREATE PAGE 
============= */

.create-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: grey;
  font-size: 2.3rem;
}
.restaurant-form {
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 2px solid lightgrey;
  padding: 25px 15px 30px;
  margin-top: 35px;
  border-radius: 5px;
  background: #f8f8f8;
  color: var(--primary-color);
}
.restaurant-form .form-control,
.restaurant-form .custom-file-label {
  box-shadow: 0px 0px 2px 1px lightgrey !important;
}
.restaurant-form .custom-file-label:hover,
.restaurant-form .custom-file-input:hover {
  cursor: pointer !important;
}
.image-container {
  display: flex;
  overflow: scroll;
  margin-bottom: 5px;
}
.create-btn {
  margin-top: 10px;
  background: #f3c954;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}
.create-btn:hover {
  background: var(--secondary-color);
}

@media (max-width: 700px) {
  .create-title {
    font-size: 1.75rem;
  }
}

/* ==========
RESTAURANT DETAIL PAGE 
============= */
.restaurant-title {
  font-family: 'Poppins', sans-serif;
}
.admin-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.admin-btn-container .fa {
  margin-right: 5px;
}
.admin-btn {
  border: 1px solid grey;
  margin-bottom: 10px;
}
.admin-btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.restaurant-images-container {
  display: flex;
  justify-content: center;
  overflow: scroll;
  flex-wrap: nowrap;
  margin-top: 20px;
  width: 100%;
}
.restaurant-image-container {
  width: 200px;
  height: 200px;
  position: relative;
}
.restaurant-img {
  width: 200px;
  height: 200px;
}
.remove-image-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  border: 1px solid lightgrey;
  transform: scale(0.8);
}
.remove-image-btn .fa {
  color: grey;
}
.restaurant-details-background {
  background: #f8f8f8;
  padding: 40px;
  margin-bottom: 30px;
}
.restaurant-details-map-container {
  border: 1px solid var(--secondary-color);
}
.restaurant-details-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.restaurant-details-info {
  width: 800px;
}
.details-list {
  background: white;
  padding: 15px 55px 15px 15px;
  width: 550px;
}
.review-form-container {
  max-width: 700px;
  width: 90%;
  margin: auto;
  border: 2px solid lightgrey;
  padding: 15px;
  border-radius: 10px;
}
.new-rating-btn {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.new-rating-btn:hover {
  background: #eeb31d;
}
.restaurant-reviews-container {
  max-width: 700px;
  margin: auto;
  background: #f8f8f8;
  padding: 20px 20px 3px;
}
.gold {
  color: #f0b630;
}
.review-container {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.review-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid lightgrey;
  transform: scale(0.9);
}
.review-btn .fa {
  color: grey;
}

@media (max-width: 870px) {
  .restaurant-details-container {
    flex-direction: column;
  }
  .restaurant-details-map-container {
    width: 302px;
    margin: auto;
  }
  .details-list {
    margin: auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
  }
  .restaurant-details-background {
    padding: 10px 5px;
  }
}

/* ==========
FOOTER 
============= */

.footer-container {
  background: var(--primary-color);
  padding: 10px;
}

/* ==========
FLASH MESSAGE 
============= */

.flash-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.alert {
  margin-bottom: 5px;
  animation-name: disappear;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 50px;
    margin-bottom: 5px;
  }
  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
  }
}

/* ==========
PAGE LOADER 
============= */
.loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes ldio-wto04iekdc {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-wto04iekdc div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid lightgrey;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-wto04iekdc div {
  animation: ldio-wto04iekdc 1.5s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-ri5wrc9miih {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-wto04iekdc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wto04iekdc div {
  box-sizing: content-box;
}
