body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ==========
FLASH MESSAGE 
============= */

.flash-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  position: relative;
  height: 50px;
  width: auto;
  padding: 0 60px;
  margin-bottom: 5px;
  overflow: hidden;
  animation-name: disappear;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.flashMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width: auto;
}

.success {
  background: green;
  color: white;
}
.error {
  background: red;
  color: white;
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 50px;
    margin-bottom: 5px;
  }
  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
  }
}
